body{
	background-image: url("../img/background.jpg");
}


#article-list{
	text-align: justify;
	background: white;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;

}

h5{
	background: black;
	text-align: center;
	color: white;
}



#bar{
	position: relative;
	margin: 20px 0 0 1200px;

}

#menu{
	background: white;
	position: fixed;
	
}
